<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/061812e5-2eb1-4d6d-a492-d9d4881b86ea/resourcegroups/Anjali_Bhargava/providers/Microsoft.Web/sites/AnjaliFirstAzureHostedWebApp20240502173645</ResourceId>
    <ResourceGroup>Anjali_Bhargava</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://anjalifirstazurehostedwebapp20240502173645.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>217a93c5-ad82-4ff4-908c-a6aa5dc4052f</ProjectGuid>
    <PublishUrl>https://anjalifirstazurehostedwebapp20240502173645.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AnjaliFirstAzureHostedWebApp20240502173645</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>